.imageBG {
	position: fixed !important;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
	// filter: opacity(80%) grayscale(80%);
	height: 100vh;
}

.imageBG::after {
	background-image: linear-gradient(
		to bottom,
		rgba(0, 31, 52, 0.85),
		rgba(0, 31, 52, 0.6) 50%,
		rgba(0, 31, 52, 0.75)
	);
}
