header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0 var(--paddingWidth);
	max-width: var(--maxWidth);
	height: var(--headerHeight);

	background: var(--brand-main);
}

.list {
	display: flex;

	font-family: var(--font-family-mont);
	text-transform: uppercase;
	font-size: var(--font-size-mini);
	line-height: 1.8;
	letter-spacing: 0.1em;
	color: var(--color-white);

	& > * {
		margin-left: 1.5rem;
	}
}
