.content {
	// background-image: linear-gradient(
	// 	to bottom,
	// 	rgba(0, 31, 52, 0.85),
	// 	rgba(0, 31, 52, 0.6) 50%,
	// 	rgba(0, 31, 52, 0.75)
	// );
}

.inner {
	height: 100vh;
	padding: 0 var(--paddingWidth);

	display: flex;
	justify-content: center;
	align-items: center;
}
