@import '@styles/mixins.scss';

.list {
	display: none;

	@include medium {
		display: flex;
	}

	font-family: var(--font-family-mont);
	text-transform: uppercase;
	font-size: var(--font-size-minini);
	line-height: 1.8;
	letter-spacing: 0.1em;
	color: var(--color-white);

	& > * {
		margin-left: 1.5rem;
	}
}
